<div class = "pretty">
<h2>Products</h2>

{{#in_ca}}
<table border = "2">
  <thead>
      <tr>
        <th>ProductName</th>
        <th>CategoryName</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
  </thead>
  <tbody>
{{#products}}
  <tr>
    <td><h3>{{name}}</h3></td>
    <td><h3>{{catname}}</h3></td>
    <td><button type="button" class="btn btn-default"><a href="/products/edit/{{id}}">Edit</a></button></td>
    <td><button type="button" class="btn btn-default"><a href="/products/delete/{{id}}">Delete</a></button></td>
  </tr> 
{{/products}}
</tbody>
</table>

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}
<div id="add">
	
	<h2>Add a product</h2>
	<form action="products/add" method="POST">
		Name: <input type="text" name="name">  
    <select name="category_id">
      {{#each categories}}
        <option value="{{id}}">{{catname}}</option>
      {{/each}}
    </select>   
    <input type="submit">
	</form>

	<br />
 
 
</div>
{{/in_ca}}
{{#action}}
<table border = "2">
  <thead>
      <tr>
        <th>ProductName</th>
        <th>CategoryName</th>
      </tr>
  </thead>
  <tbody>
{{#products}}
  <tr>
    <td><h3>{{name}}</h3></td>
    <td><h3>{{catname}}</h3></td>
  </tr> 
{{/products}}
</tbody>
</table>
{{/action}}
</div>

