<h2>Products</h2>

{{#products}}
  <h3>{{name}}</h3>
     <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><a href="/products/edit/{{id}}">Edit</a>
        <button type="button" class="btn btn-default"><a href="/products/delete/{{id}}">Delete</a>
  </div>
  
{{/products}}

{{#empty}}
  <p>The list is empty.</p>
{{/empty}}

<div id="add">
	
	<h2>Add a product</h2>
	<form action="products/add" method="POST">
		Name: <input type="text" name="name">	
		<input type="submit">
	</form>
	<br>
 <select name="categories/add" form="categories">
  {{#each categories}}
     <option value="{{id}}">{{name}}</option>
  {{/each}}
 </select
</div>

